<?xml version="1.0" ?>
<!--
/**
 * @author Magesource
 * @copyright Magesource. All rights reserved.
 * @package Customer Import Module for Magento 2.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Magesource_CustomerImport" setup_version="1.0.0">
		<sequence>
            <module name="Magento_Customer" />
            <module name="Magento_CustomerImportExport" />
        </sequence>
	</module>
</config>
